---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { countWords } from '../../../utils/countWords'
import { getChapterStaticPaths } from '../../../utils/getChapterStaticPaths'
import { getFicName } from '../../../utils/getFicName'
import ChapterButtons from '../../../components/ChapterButtons.astro'

export const getStaticPaths = getChapterStaticPaths;

const { post, chapters } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={`${post.data.title} | ${getFicName(post.slug)}`}>
  <ChapterButtons chapter={post.data.chapter} slug={post.slug} chapters={chapters ?? []} />

  <h1 class="text-3xl font-bold my-2 text-white">{post.data.title}</h1>
  <p class="text-sm text-gray-400 mb-8">{post.data.publishDate?.toLocaleDateString() ?? 'Não publicado'} | {countWords(post.body ?? '')} palavras</p>

  <article class="prose prose-lg prose-invert max-w-none font-serif leading-relaxed space-y-6 text-justify">
    <Content />
  </article>

  <ChapterButtons chapter={post.data.chapter} slug={post.slug} chapters={chapters ?? []} />
</BaseLayout>
